@import './bootstrap.min.css';

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Background gradient styles */
	background: linear-gradient(-95deg, #23a6d5, #62bad9, #62bad9, #62bad9, #23a6d5, #62bad9);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
	color: white !important;
}
.dashboard-container {
	padding-top: 20px
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.btn-start {
	background-color: rgba(255, 255, 255, 0) !important;
	border: solid 6px white !important;
	animation-duration: 0.2 !important;
}
.btn-dash {
	background-color: rgba(255, 255, 255, 0) !important;
	border: solid 4px white !important;
	animation-duration: 0.2 !important;
}
.btn-start:active, .btn-dash:active {
	background-color: rgb(255, 255, 255) !important;
	border: solid 6px white !important;
	color: #23a6d5 !important;
	animation-duration: 0.2 !important;
}


.btn-q {
	background-color: rgba(255, 255, 255, 0) !important;
}

.splash-container,
.location-container,
.dashboard-container {
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.weather-item {
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	padding: 10px;
	padding-left: 0px !important;
	text-align: center !important;
	white-space:pre-line ;
}
.display-1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}